$wWidthFullHD: 1920px;
$wWidthWXGAPlus: 1680px;
$wWidthWSXGA: 1600px;
$wWidthXJXGA: 1536px;
$wWidthHDV: 1440px;
$wWidthSXGAPlus: 1400px;
$wWidthHDReady: 1280px;
$wWidthWXVGA: 1200px;
$wWidthXGAPlus: 1152px;
$wWidthXGA: 1024px;
$wWidthQHD: 960px;
$wWidthFWVGA: 854px;
$wWidthSVGA: 800px;
$wWidthSM: 768px;
$wWidthNHD: 640px;
$wWidthSmall: 480px;